{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'style.css' %}">
<body >
  
  <div class="mainbarr">
    <div class="navleft">
      <img src={% static "logo.png" %} />
          <p class="myfont">  
            Audio To Sign Language Translator</p>
     </div>
    <div class="navigation">
        <ul class="text">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact us</a></li>
        </ul>
    </div>


</div>
<hr class="line">

 	<hr>
 	<h2>CONTACT US</h2>
	<p class="td">For any queries regarding this website contact us on following:</p>
	<p class="td">Our Email ID:ashish.076.bct020@acem.edu.np
                              
    </p>
    <p class="td">Our Email ID:anupam.076.bct018@acem.edu.np
                              
    </p>
	
	<p class="td">Contact number:9822478044</p>
 	<hr>
	<p class="td">Thank you, For visiting our website</p>
